# Django
DJANGO_SECRET_KEY=your-very-secret-key-change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_NAME=syla_yednosti
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432

# Django settings module
DJANGO_SETTINGS_MODULE=config.settings.local
