# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Env
.env
.env.*
!.env.example

# Docker
*.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
